<a href="https://colab.research.google.com/github/evasseva/evasseva/blob/main/22_07_21_%EC%8A%A4%ED%84%B0%EB%94%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 백준 1026번 보물

S = A[0] × B[0] + ... + A[N-1] × B[N-1]

In [24]:
# 정피라미드

for i in range(1,11):
    for j in range(1, i+1):
        print(j, end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [31]:
# 역피라미드

for i in range(10, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print(" ")

10 9 8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [45]:
#스택

s = []

s.append(1)     #push: 출력되지 않음  - None
s.append(2)
s.append(3)
s.append(4)

print(s.pop())  #pop 출력
s.pop()

s.append(7)
s.append(8)
s.pop()
s.append(9)

print(s)    #전체 리스트 출력

# 박스
# | C |
# | B |
# | A |

4
[1, 2, 7, 9]

In [51]:
# 큐

import queue

data = queue.Queue()

data.put(1)
data.put(2)
data.put(3)

print(data.get())
print(data.get())   # get: 출력되지 않음  - None

print(data.put(4))  # 출력x - None
data.put(5)

data.get()
data.put(6)
data.get()

# 터널
# ->   C  |  B  |  A   ->

1
2
None

4

# 판다스 문제

In [61]:
# 1. seaborn에 있는 planets 내장 데이터 불러오기
import pandas as pd
import seaborn as sns

df = sns.load_dataset('planets')
print(df.info())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB
None

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [78]:
# 2. 데이터 살펴보고 전처리(결측값을 평균값으로 대체)
df_1 = df.copy()

print(df_1.orbital_period.isnull().value_counts())
print(df_1.mass.isnull().value_counts())
print(df_1.distance.isnull().value_counts())

df_1['orbital_period'] = df_1['orbital_period'].fillna(df['orbital_period'].mean(axis=0))
df_1['mass'] = df_1['mass'].fillna(df['mass'].mean(axis=0))
df_1['distance'] = df_1['distance'].fillna(df['distance'].mean(axis=0))

df_1

False    992
True      43
Name: orbital_period, dtype: int64
True     522
False    513
Name: mass, dtype: int64
False    808
True     227
Name: distance, dtype: int64

               method  number  orbital_period       mass  distance  year
0     Radial Velocity       1      269.300000   7.100000     77.40  2006
1     Radial Velocity       1      874.774000   2.210000     56.95  2008
2     Radial Velocity       1      763.000000   2.600000     19.84  2011
3     Radial Velocity       1      326.030000  19.400000    110.62  2007
4     Radial Velocity       1      516.220000  10.500000    119.47  2009
...               ...     ...             ...        ...       ...   ...
1030          Transit       1        3.941507   2.638161    172.00  2006
1031          Transit       1        2.615864   2.638161    148.00  2007
1032          Transit       1        3.191524   2.638161    174.00  2007
1033          Transit       1        4.125083   2.638161    293.00  2008
1034          Transit       1        4.187757   2.638161    260.00  2008

[1035 rows x 6 columns]

In [79]:
# 3. 2009년에 method의 'Imaging'인 데이터 전체를 출력

df_1[(df_1.method=='Imaging')&(df_1.year == 2009)]

     method  number  orbital_period      mass  distance  year
72  Imaging       1         4639.15  2.638161     12.21  2009
74  Imaging       1         7336.50  2.638161     25.00  2009
75  Imaging       1         8679.70  2.638161     26.67  2009

In [80]:
# 4. method와 number를 멀티인덱스로 그룹지어 전체 데이터프레임에 대한 평균값을 구하시오

group = df_1.groupby(['method', 'number'])

gdf = group.mean()

gdf

                                      orbital_period      mass     distance  \
method                        number
Astrometry                    1           631.180000  2.638161    17.875000
Eclipse Timing Variations     1          5821.166667  4.296054   264.069282
                              2          4216.883333  2.638161   298.263094
Imaging                       1         34619.079632  2.638161   105.634285
                              4         73500.000000  2.638161    39.940000
Microlensing                  1          2273.202439  2.638161  1904.461163
                              2          2732.708798  2.638161  2172.034641
Orbital Brightness Modulation 1             1.544929  2.638161   264.069282
                              2             0.291496  2.638161  1180.000000
Pulsar Timing                 1         18262.545353  2.638161   732.034641
                              3            63.338433  2.638161   264.069282
Pulsation Timing Variations   1          1170.000000  2.638161   264.069282
Radial Velocity               1           814.143794  3.273760    69.951034
                              2           959.022946  2.269789    59.077695
                              3           769.421724  0.949349    34.713005
                              4           695.769616  1.375120    24.879370
                              5          1045.993508  1.461032    12.530000
                              6           213.752357  0.038556    19.673333
Transit                       1            12.301023  2.632462   515.988870
                              2            27.589652  2.638161   387.833077
                              3            22.187586  2.638161   362.041219
                              4            21.430775  2.638161   264.069282
                              5            30.584464  2.638161   297.827713
                              6            40.513600  2.638161   613.000000
                              7           119.217898  2.638161   780.000000
Transit Timing Variations     2            79.783500  2.638161  1104.333333
                              3          2002.917596  2.638161   264.069282

                                             year
method                        number
Astrometry                    1       2011.500000
Eclipse Timing Variations     1       2010.666667
                              2       2009.666667
Imaging                       1       2009.205882
                              4       2008.500000
Microlensing                  1       2009.736842
                              2       2010.000000
Orbital Brightness Modulation 1       2013.000000
                              2       2011.000000
Pulsar Timing                 1       2007.000000
                              3       1992.666667
Pulsation Timing Variations   1       2007.000000
Radial Velocity               1       2007.082317
                              2       2008.219697
                              3       2008.886792
                              4       2003.823529
                              5       2004.000000
                              6       2010.777778
Transit                       1       2010.282927
                              2       2012.375000
                              3       2011.870968
                              4       2013.272727
                              5       2012.080000
                              6       2010.000000
                              7       2013.000000
Transit Timing Variations     2       2012.000000
                              3       2014.000000